<table>
  <tr>
    <td> <%= render "page_back" %> </td>
    <td>
      <p><%= @current_page.body %> </p>
      <h3><%= @current_page.id %></h3>
    </td>
    <td> <%= render "page_next" %> </td>
  </tr>

</table>

