<table class="page-table">
  <tr>
    <td> <%= render "page_back" %> </td>
    <td class="open-page">
      <p><%= @current_page.body %> </p>
      <p><%= @current_page.id.to_s + "....just for testing "%></p>
    </td>
    <td> <%= render "page_next" %> </td>
  </tr>

</table>

